<h1>New Wing Order</h1>

<%= form_for(@wing_order) do |f| %>
<div class="field">
  <%= f.label(:customer_name, "Full Name") %><br />
  <%= f.text_field :customer_name %>
</div>

<div class="field">
  <%= f.label :city %><br />
  <%= f.text_field :city %>
</div>

<div class="field">
  <%= f.label :state %><br />
  <%= f.select(:state, options_for_select(@state_collection)) %>
</div>

<div class="field">
  <%= f.collection_radio_buttons(:quantity, @quantity_collection, :first, :last) %>
</div>

<div class="field">
  <%= f.check_box(:ranch_dressing) %>
  <%= f.label(:ranch_dressing, "Add Ranch Dressing") %>
</div>

<div class="field">
  <%= f.collection_check_boxes(:flavor_ids, @flavor_collection, :id, :name) %>
</div>

<div class="actions">
  <%= submit_tag("Place Order") %>
</div>
<% end %>
